body {
    background-color: rgb(10, 12, 16);
    margin-bottom: 0;
    margin-top: 0;

    border-bottom-color: rgb(122, 130, 142);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1.11111px;
    box-sizing: border-box;
    color: rgb(240, 243, 246);
    color-scheme: dark;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    height: 2904.18px;
    line-height: 21px;
    margin-bottom: -1px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    width: 893.785px;
}

.MainBody {
    width: 80%;
    border: 1px solid white;
    /* This centers the MainBody element horizontally */
    margin: 0 auto;
    /* This aligns the text to the left within the centered div */
    /* text-align: left;*/
}

h3 {
    color: red;
}

h1 {}